$primary-black: #000;
$primary-white: #fff;

$off-black: #212223;

$background: #F7F6F3;
$divider: #ADC8B5;
$highlight: #ECA899;

$translucentBlack: transparentize($primary-black, 0.4);

$font-serif: serif;
$font-sans-serif: 'Poppins', sans-serif;


$first-break: 1220px;
$second-break: 1010px;
$final-break: 500px;